[Unit]  
Description=endpointdeamon  

[Service]  
Type=forking  
ExecStart=/usr/bin/endpointdeamon.sh
ExecStop=/usr/bin/endpointdeamon stop 
Restart=on-failure
RestartSec=6s
 
[Install]  
WantedBy=multi-user.target  

